/* Basic navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: relative; /* Ensure proper stacking context */
    z-index: 1000; /* Ensure navbar is above other content */
}

.navbar-brand a {
    font-size: 24px;
    font-weight: bolder;
    font-family: cursive;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    transition: color 0.3s ease;
}


.nav-links a:hover {
    color: #ff6347; /* Change color on hover */
    
}

/* Mobile menu toggle */
.nav-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1; /* Ensure toggle button is above other content */
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        right: 0;
        background-color: #333;
        flex-direction: column;
        display: none;
        z-index: 1; /* Ensure links are above other content */
    }

    .nav-links.open {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

/* Username styling */
.username {
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease;
    
}

.username:hover {
    color: #ff6347;
    
}

/* Logout popup styling */
.logout-popup {
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 20px; /* Adjust based on navbar width */
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 15; /* Ensure popup is above other content */
}

.logout-popup p {
    margin: 0 0 10px;
}

.logout-popup button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.logout-popup button:hover {
    background-color: #ff4500;
}
